/*

0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800] is where our normal style apply
1800px + : Big desktop

*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-landscape
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  80% {
    transform: translateX(-8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 72%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #a6275f; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 70.5%;
  font-style: normal;
  letter-spacing: -.02em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  min-height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  color: #243d44;
  background-color: rgba(231, 142, 184, 0.22); }

#lingumania_langswitcher {
  display: none; }

body {
  font-family: "Chirp", Hanuman, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777; }

.u-center-text {
  text-align: center; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mt-huge {
  margin-top: 10rem; }

.u-mt-big {
  margin-top: 8rem; }

.u-mt-medium {
  margin-bottom: 4rem; }

.u-mt-small {
  margin-bottom: 1.5rem; }

.container {
  display: grid;
  grid-template-rows: min-content min-content repeat(8, min-content);
  grid-template-columns: [full-start] 7rem [center-start] repeat(6, minmax(min-content, 1fr)) [center-end] 7rem [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: min-content 100vh repeat(8, min-content);
      overflow-x: hidden; } }

.btn {
  padding: 1rem 3.2rem;
  border-radius: 6px;
  transition: all 0.2s linear 0s;
  font-family: inherit; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      padding: 1rem 2rem; } }
  .btn:hover {
    cursor: pointer; }
