.header {
   grid-column: full-start / full-end;

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   background-color: $color-section-background;

   &__text {
      grid-column: 2/6;

      display: grid;
      align-self: center;
      margin: 12rem 0;
      grid-template-rows: 10rem repeat(3, minmax(min-content, 1fr)) minmax(22rem, max-content);

      @include respond(tab-port) {
         grid-template-rows: repeat(5, max-content);
         margin: 20rem 0;
      }

      @include respond(phone) {
         grid-row-gap: 2rem;
      }

      align-items: center;

      @include respond(small-phone) {
         align-items: center
      }

      color: $color-white;

      &--hello {
         grid-row: 2/3;
         font-size: 1.8rem;
         font-weight: bold;
         align-self: end;
         color: $color-secondary-dark;
      }

      &--name {
         grid-row: 3/4;
         font-family: Raleway, serif;
         font-weight: normal;
         font-size: 4.5rem;

         @include respond(phone) {
            font-size: 4rem;
         }
      }

      &--role {
         grid-row: 4/5;
         font-size: 3rem;
         font-family: 'Coming Soon', serif;
         font-weight: lighter;
         letter-spacing: .07rem;
         align-self: start;
      }

      &--buttons {
         grid-row: 5/6;
         align-self: start;
         padding-top: 2rem;
         font-family: inherit;

         @include respond(tab-port) {
            padding-top: 4rem;
         }


         &-cv {
            font-size: 1.4rem;
            background-color: $color-secondary-dark;
            border: solid 1px $color-secondary-dark;
            color: $color-white;
            transition: .3s ease-in-out;

            @include respond(small-phone) {
               font-size: 1.2rem;
            }

            &:hover {
               background-color: darken($color-secondary-dark, 5%);
               border-color: darken($color-secondary-dark, 5%);
            }
         }

         &-contact {
            font-size: 1.4rem;
            margin-left: 2rem;
            background-color: $color-white;
            border: solid 1px $color-white;
            color: $color-primary-light;
            transition: .3s ease-in-out;

            @include respond(small-phone) {
               font-size: 1.2rem;
            }

            &:hover {
               background-color: darken($color-white, 15%);
               color: $color-primary-dark;
            }
         }
      }
   }
}