/* hanuman-regular - khmer */
@font-face {
   font-family: 'Hanuman';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/hanuman-v14-khmer-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
   url('fonts/hanuman-v14-khmer-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/hanuman-v14-khmer-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/hanuman-v14-khmer-regular.woff') format('woff'), /* Modern Browsers */
   url('fonts/hanuman-v14-khmer-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/hanuman-v14-khmer-regular.svg#Hanuman') format('svg'); /* Legacy iOS */
}

@font-face {
   font-family: 'Coming Soon';
   src: url('fonts/ComingSoon-Regular.eot');
   src: url('fonts/ComingSoon-Regular.eot?#iefix') format('embedded-opentype'),
   url('fonts/ComingSoon-Regular.woff2') format('woff2'),
   url('fonts/ComingSoon-Regular.woff') format('woff'),
   url('fonts/ComingSoon-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Crafty Notes';
   src: url('fonts/CraftyNotes-Regular.eot');
   src: url('fonts/CraftyNotes-Regular.eot?#iefix') format('embedded-opentype'),
   url('fonts/CraftyNotes-Regular.woff2') format('woff2'),
   url('fonts/CraftyNotes-Regular.woff') format('woff'),
   url('fonts/CraftyNotes-Regular.ttf') format('truetype'),
   url('fonts/CraftyNotes-Regular.svg#CraftyNotes-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Chirp';
   src: url('fonts/Font.eot');
   src: url('fonts/Font.eot?#iefix') format('embedded-opentype'),
   url('fonts/Font.woff2') format('woff2'),
   url('fonts/Font.woff') format('woff'),
   url('fonts/Font.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/* raleway-regular - latin */
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
   url('fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
   url('fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   src: url('fonts/raleway-v22-latin-800.eot'); /* IE9 Compat Modes */
   src: local(''),
   url('fonts/raleway-v22-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/raleway-v22-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/raleway-v22-latin-800.woff') format('woff'), /* Modern Browsers */
   url('fonts/raleway-v22-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/raleway-v22-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   src: url('fonts/raleway-v22-latin-900.eot'); /* IE9 Compat Modes */
   src: local(''),
   url('fonts/raleway-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/raleway-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/raleway-v22-latin-900.woff') format('woff'), /* Modern Browsers */
   url('fonts/raleway-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/raleway-v22-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* caveat-regular - latin */
@font-face {
   font-family: 'Caveat';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/caveat-v10-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
   url('fonts/caveat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/caveat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/caveat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
   url('fonts/caveat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/caveat-v10-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}
